/** @format */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.sidebarChats::-webkit-scrollbar {
  width: 5px;
}
.ChatBodyPageBody::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.ChatBodyPageBody::-webkit-scrollbar-track {
  background: rgb(247, 247, 226);
}

/* Handle */
.ChatBodyPageBody::-webkit-scrollbar-thumb {
  background: rgb(247, 247, 226);
}

/* Handle on hover */
.ChatBodyPageBody::-webkit-scrollbar-thumb:hover {
  background: rgb(241, 228, 40);
}
.sidebarChats::-webkit-scrollbar-track {
  background: rgb(247, 247, 226);
}

/* Handle */
.sidebarChats::-webkit-scrollbar-thumb {
  background: rgb(240, 238, 214);
}

/* Handle on hover */
.sidebarChats::-webkit-scrollbar-thumb:hover {
  background: rgb(162, 255, 174);
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 90vh;
  margin-top: 5vh;
}
.sidebar {
  height: 90vh;
  flex: 0.25;
  background-color: #fff1df;
  border-radius: 0.8vw 0 0 0.8vw;
}
.sidebarTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6vw 0.9vw 0.6vw 0.9vw;
  border-bottom: 2px solid rgb(199, 199, 199);
}
.sidebarInput {
  padding: 0.8vw 0.5vw 0.8vw 0.5vw;
  border-bottom: 2px solid rgb(199, 199, 199);
  background-color: #fff1df;
}
.sidebarInputBlock {
  width: 100% !important;
  background-color: rgb(255, 255, 255);
}
.sidebarChats {
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 66vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(190, 243, 190);
  border-radius: 0.8vw;
  margin-bottom: 2vh;
  padding: 0.7vw 0.9vw 0.7vw 0.8vw;
  transition: 200ms ease-in-out;
  font-family: "Nunito", sans-serif;
}
.chat:hover {
  cursor: pointer;
  background-color: rgb(174, 243, 174);
  transform: scale(1.03);
  font-weight: bold;
  color: rgb(12, 99, 91);
}
.chat h2 {
  font-size: medium;
}
.chatHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatHeaderAvatar {
  margin-right: 0.3vw;
  font-weight: bolder;
  color: black !important;
}
.sidebarIcon {
  cursor: pointer;
}
.chatRecipientName {
  font-size: medium;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  word-break: break-all;
}
.loginContainer {
  width: fit-content;
  font-family: "Nunito", sans-serif;
  margin-top: 20vh;
  background-color: rgb(238, 238, 238);
  margin-left: auto;
  margin-right: auto;
  padding: 1vw 1.8vw 1.8vw 1.8vw;
  border-radius: 0.9vw;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  align-items: center;
}
.loginButton {
  width: 50%;
  padding: 0.5vw 0 0.5vw 0;
  font-size: larger;
  font-family: "Nunito", sans-serif;
  background-color: rgb(248, 248, 248);
  border: none;
  outline: none;
  font-weight: bold;
  transition: 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.loginButton:hover {
  cursor: pointer;
  background-color: rgb(214, 214, 214);
}
.Loading {
  margin-top: 25vh;
  font-family: "Nunito", sans-serif;
}
.ChatBodyPage {
  height: 90vh;
  flex: 0.75 !important;
  background-color: #66de93;
  border-radius: 0 0.8vw 0.8vw 0;
  display: flex;
  flex-direction: column;
}
.ChatBodyPageHeader {
  flex: 0.1;
  background-color: #fcefdd;
  border-radius: 0 0.8vw 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8vw 0 0.8vw;
}
.ChatBodyPageBody {
  flex: 0.8;
  background-color: rgb(247, 247, 226);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 1vh;
  scroll-behavior: smooth;
}
.ChatBodyPageFooter {
  flex: 0.1;
  border-radius: 0 0 0.8vw 0;
  background-color: #f8e4c9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.9vw 0 0.9vw;
}
.ChatBodyPageFooter input {
  flex: 0.9;
  height: 6vh;
  background-color: rgb(240, 239, 239);
  font-family: "Nunito", sans-serif;
  font-size: large;
  font-weight: bold;
  color: rebeccapurple;
  padding-left: 0.9vw;
  outline: none;
  border: none;
  border-radius: 0.5vw;
}
.ChatBodyPageFooterOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sendMessageButton {
  padding: 0.5vw 1.2vw 0.5vw 1.2vw;
  font-size: large;
  font-weight: bold;
  background-color: rgb(160, 235, 160);
  color: rgb(24, 59, 15);
  outline: none;
  font-family: "Nunito", sans-serif;
  border: 2px solid rgb(100, 216, 115);
  transition: 200ms ease-in-out;
  border-radius: 0.9vw;
}
.sendMessageButton:hover {
  cursor: pointer;
  background-color: rgb(122, 228, 122);
  border: 2px solid rgb(70, 153, 81);
}
.picker {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pickerCancel {
  cursor: pointer;
}
.MessageSender {
  font-weight: bold;
  text-align: right;
  padding: 0.2vw 1.1vw 0.2vw 1.1vw;
}
.MessageReciever {
  font-weight: bold;
  text-align: right;
  padding: 0.2vw 1.1vw 0.2vw 1.1vw;
}
.messageDetsSender {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(213, 255, 213);
  border-radius: 0.9vw;
}
.messageDetsReciever {
  float: left;
  background-color: rgb(189, 223, 245);
  border-radius: 0.9vw;
}
.senderMessage {
  min-width: 90px !important;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  font-family: "Nunito", sans-serif;
}
.recieverMessage {
  min-width: 90px !important;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  font-family: "Nunito", sans-serif;
}
.MessageTimestampSender {
  padding: 0 1.1vw 0.2vw 1.1vw;
  text-align: right;
  font-family: "Nunito", sans-serif;
  background-color: rgb(213, 255, 213);
  font-size: smaller;
}
.MessageTimestampReciever {
  padding: 0 1.1vw 0.2vw 1.1vw;
  text-align: right;
  font-family: "Nunito", sans-serif;
  font-size: smaller;
  background-color: rgb(189, 223, 245);
}
.DeleteIconButton {
  height: 1.1rem !important;
  width: 1.1rem !important;
}
.DeleteIcon {
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin-right: 0.8vw;
}
.MessageImage {
  padding: 0.5vw !important;
  border-radius: 0.8vw;
}
